Assignment

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
s="sankalp"
print(s)

sankalp

In [5]:
l=[4,5,6,"sankalp",55.6,True]
print(l)

[4, 5, 6, 'sankalp', 55.6, True]

In [7]:
f=55.6
print(f)

55.6

In [9]:
t=(4,5,6,"sankalp",55.6,True)
print(t)

(4, 5, 6, 'sankalp', 55.6, True)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [22]:
var1 = ' '
print(type(var1))

<class 'str'>

In [23]:
var2 =' [ DS , ML , Python]'
print(type(var2))

<class 'str'>

In [26]:
var3 = [ 'DS' , 'ML' ,' Python' ]
print(type(var3))

<class 'list'>

In [28]:
var4 = 1
print(type(var4))

<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [30]:
a=5
b=7
print(a/b) #division
print(a%b) #modulus
print(a//b) #floor division
print(a**b) #exponential

0.7142857142857143
5
0
78125

In [32]:
a=7
b=5
print(a/b) #division
print(a%b) #modulus
print(a//b) #floor division
print(a**b) #exponential

1.4
2
1
16807

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [37]:
l=[4,5,6,"sankalp",55.6,True,4+7j,9,66.7,'s']
for x in l:
    print(x)
    print(type(x))

4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
sankalp
<class 'str'>
55.6
<class 'float'>
True
<class 'bool'>
(4+7j)
<class 'complex'>
9
<class 'int'>
66.7
<class 'float'>
s
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [2]:
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

count = 0  # Variable to keep track of the number of divisions

# Check if A is divisible by B
while A % B == 0:
    A = A // B  # Divide A by B
    count += 1

if count > 0:
    print(f"A is divisible by B, and it can be divided {count} times.")
else:
    print(f"A is not divisible by B.")

Enter the value of A:  8
Enter the value of B:  2

A is divisible by B, and it can be divided 3 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [3]:
# Create a list of 25 integers
numbers = [12, 7, 18, 5, 27, 15, 32, 9, 21, 16, 33, 2, 11, 30, 25, 8, 14, 3, 20, 17, 22, 6, 13, 19, 4]

# Iterate through the list using a for loop
for num in numbers:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

12 is divisible by 3
7 is not divisible by 3
18 is divisible by 3
5 is not divisible by 3
27 is divisible by 3
15 is divisible by 3
32 is not divisible by 3
9 is divisible by 3
21 is divisible by 3
16 is not divisible by 3
33 is divisible by 3
2 is not divisible by 3
11 is not divisible by 3
30 is divisible by 3
25 is not divisible by 3
8 is not divisible by 3
14 is not divisible by 3
3 is divisible by 3
20 is not divisible by 3
17 is not divisible by 3
22 is not divisible by 3
6 is divisible by 3
13 is not divisible by 3
19 is not divisible by 3
4 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

string :--immutable object :--data cannot change at aparticular index
list :--mutable object :--data can change at aparticular index

In [7]:
l=[2, 4, 5, 6, 7, 'sankalp', (4+7j), 7.9, True]
l[5]="kushwaha"
l

[2, 4, 5, 6, 7, 'kushwaha', (4+7j), 7.9, True]

In [10]:
s="sanklap"
s[4]

'l'

In [11]:
s[4]=4

TypeError: 'str' object does not support item assignment